#title {
  text-align: center;
}

.color {
  border: solid black 1px;
  padding: 2%;
  display: inline-block;
  margin-left: auto;
}

#button-random-color {
  cursor: pointer;
}

#pixel-board {
  background-color: white;
  /* border: solid black 2px; */
  height: 230px;
  width: 230px;
  padding-top: 50px;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: white;
}